body {
    background:
        radial-gradient(circle at 20% 20%, rgba(0,255,170,.15), transparent 35%),
        radial-gradient(circle at 80% 30%, rgba(0,120,255,.12), transparent 35%),
        radial-gradient(circle at 50% 80%, rgba(180,80,255,.10), transparent 40%),
        #161616;

    background-size: 250% 250%;
    animation: gradientMove 20s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.home {
    position: relative;
}
/* ===== TEXT ===== */
details > summary {
    text-align: center;
    background-color: #1c1a1a;
}
h1 {
    text-align: center;
    font-family: "Papyrus";
    font-size: 200%;
}
h2 { 
    text-align: center;
    font-size: 175%; 
}
h3 { 
    text-align: center;
    font-size: 150%; 
}
h4 { 
    text-align: center;
    font-size: 140%; 
}
h5 { 
    text-align: center;
    font-size: 125%; 
}
h6 { 
    font-size: 110%; 
}
a {
    text-decoration: none;
    color: #1bd96a;
}
.center {
    text-align: center;
}
/* ===== IMAGES ===== */
.img_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.img_deco {
    width: calc(25% - 10px);
    height: auto;
}
.img_home {
    display: block;
    margin: 0 auto;
    width: calc(25% - 10px);
    height: auto;
}
/* ===== ICON ===== */
.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}
