body {
    padding-top: 60px;

    background:
        radial-gradient(circle at 10% 15%, rgba(38, 255, 140, .15), transparent 30%),
        radial-gradient(circle at 90% 20%, rgba(0, 170, 255, .12), transparent 30%),
        radial-gradient(circle at 50% 80%, rgba(70, 255, 180, .08), transparent 40%),
        linear-gradient(180deg, #141414 0%, #1b1b1b 100%);

    background-attachment: fixed;

    color: white;
    font-size: 150%;
    text-align: left;
}
.home {
    position: relative;
}
/* ===== TEXT ===== */
details > summary {
    text-align: center;
    background-color: #1c1a1a;
}
h1 {
    text-align: center;
    font-family: "Papyrus";
    font-size: 200%;
}
h2 { 
    text-align: center;
    font-size: 175%; 
}
h3 { 
    text-align: center;
    font-size: 150%; 
}
h4 { 
    text-align: center;
    font-size: 140%; 
}
h5 { 
    text-align: center;
    font-size: 125%; 
}
h6 { 
    font-size: 110%; 
}
a {
    text-decoration: none;
    color: #1bd96a;
}
.center {
    text-align: center;
}
/* ===== IMAGES ===== */
.img_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.img_deco {
    width: calc(25% - 10px);
    height: auto;
}
.img_home {
    display: block;
    margin: 0 auto;
    width: calc(25% - 10px);
    height: auto;
}
/* ===== ICON ===== */
.icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}
